<h2>Tipo de cozinha</h2>

<%= form_for @cuisine do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.submit 'Cadastrar' %>
<% end %>

<p><%= link_to 'Voltar', recipes_path %></p>
